button:focus {outline:0;}

body {
    background-image:url("gplaypattern/gplaypattern_@2X.png");
}

.clear {
    float:none;
}

.charts {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top:50px;
    margin-left:10px;
    width:80%;
    float:left;
}

#chart1_div {
    overflow-x: scroll;  
    overflow-y: hidden;
}

#chart2_div {
    overflow-x: scroll; 
    overflow-y: hidden;
}

form {
        margin-left:25%;
        margin-right:25%;
        padding:5px;
        border-style:solid;
        border-width: 2px;
        border-color: black;        
    }

div.pagelinks {
    padding:5 5;
    height: 25px;
    width: inherit;
    background-color:gray;
}

.linkButton { 
    width:100px;
    float:right;
    margin: 0 5px;
    height:50px;
    background-color:lightgray;
    border-style: solid;
    border-width: 1px;
    border-color:gray;
    font-size: 20px;
    font-weight: bold;
}

.linkButton2 { 
    width:100px;
    float:right;
    margin: -50px 5px;
    height:50px;
    background-color:lightgray;
    border-style: solid;
    border-width: 1px;
    border-color:gray;
    font-size: 20px;
    font-weight: bold;
}

.linkButton:hover {
    background-color:darkgray;
    color:lightgray;
}

.linkButton2:hover {
    background-color:darkgray;
    color:lightgray;
}

div.leftMenu {
    margin-top:52px;
    float:left;
    border-style: solid;
    border-color:black;
    border-width: 2px;
    width:15%;
    height: inherit;
    padding:10px;
}

div.login {
    border-style:solid;
    border-width:2px;
    border-color:gray;
    padding:10px;
    margin-left:20%;
    margin-right:20%;
    margin-top:50px;
    background-color:gray;
    font-weight: bold;
    font-size: 20px;    
}

.inputLogin {
    width:25%;
    margin: 0 15px;
}

.test {
    margin-left:20%;
}

h1{
    text-align: center;
}

h1.main {
    font-size: 50px;
}