button:focus {outline:0;}

body {
    background-image:url("../images/gplaypattern.png");
}

header {
    background-color:midnightblue;
    text-align: center;
}

footer {
    
}

.clear {
    float:none;
}

.left {
    float:left;
}

.right {
    float:right;
}

div.main {
    height: 50px;
}

.leftH1 {
    color:aliceblue;
    float:right;
    margin-top:5px;
}


.link {
    text-decoration: none;
    color:aliceblue;
    padding: 0 15 0;
    font-size: 20px;
    float:left;
    margin-top:17px;
}

.link:hover {
    color: dodgerblue;
    text-decoration: none;
    border-bottom:5px solid dodgerblue;
}

.charts {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top:50px;
    margin-left:10px;
    width:80%;
    float:left;
}

#chart1_div {
    overflow-x: scroll;  
    overflow-y: hidden;
}

#chart2_div {
    overflow-x: scroll; 
    overflow-y: hidden;
}

h1.h1Center {
    text-align: center;
}

hr.hr-1 {
    border-top: 1px solid midnightblue;
    margin-top:5px;
}

div.reg-form {
    margin-left: 5%;
    margin-right: 5%;
}
