    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>FinBel ECG International Project is  an International collaboration between Finnish and Belgian students. Hereby the Finnish students design and develop an electronic device to measure one's heart rate.</p>
                </div>
                <div class="col-lg-4">
                    <p>Belgian students design and develop a web application based on the MEAN stack. Users can create a profile and login to their personalized dashboard, where they can upload their recorded heart rate measurements and view the graphs with indications whether they suffer from cardiac arrythmia and whether they should be concerned and visit a doctor.</p>
                </div>
            </div>
        </div>
    </section>