    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>FinBel ECG is an International Cooperation Project between Electronics-ICT faculty of Artesis Plantijn University College, Antwerp, Belgium and Electronic engineering faculty of Oulu University of Applied Sciences, Finland.</p>

                    <p>
                    The final goal is to upload recordings to the webapp and to display the ECGs (electro cardiograms), analyze the data and conclude whether the user suffers from a cardiac arrythmia. Provide the possibility to send the link to a doctor to allow him to view the graphs without needing to create an account and to login.
                    </p>
                </div>
                <div class="col-lg-4">
                <p>Hereby the Finnish students (Marko Yulikulju and Veli-Pekka Porrassalmi) have build a prototype device to wear on the chest to measure the heart beatings. 
                    The Belgian students (Chingiz Mizambekov and Steven Dijcks) have designed and developed a web application based on the MEAN stack. Users can create a profile and login to their personalized dashboard, where they can upload their recorded heart rate measurements and view the graphs with indications whether they suffer from cardiac arrythmia and whether they should be concerned and visit a doctor.</p>
                    <p>Belgian students design and develop a web application based on the MEAN stack. Users can create a profile and login to their personalized dashboard, where they can upload their recorded heart rate measurements and view the graphs with indications whether they suffer from cardiac arrythmia and whether they should be concerned and visit a doctor.
                    </p>
                </div>
            </div>
        </div>
    </section>