<div class="row">
	<div class="container">
	<h1>Welcome to your personalized dashboard, Chingiz!</h1>
</div>
</div>

<div class="row">
	<div class="col-md-3">
		<h2>Menu</h2>
		<nav>
			<ul class="dashboard-navigation">
				<li><a ng-Click="profilePage()">Profile</a></li>
				<li><a ng-Click="uploadPage()">Add new record</a></li>
				<li><a ng-Click="userPage()">View existing records</a></li>
				<li><a ng-Click="logout()">Logout</a></li>
			</ul>
		</nav>
	</div>

	<div class="col-md-9">
	</div>
</div>