    <!-- Dashboard Section -->
    <section id="dashboard" ng-controller="DashboardController">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Dashboard</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h3>Navigation</h3>


		<nav id="dashboard">
			<ul class="nav">
				<li><a ng-Click="profilePage()">Profile <i class="fa fa-user" aria-hidden="true"></i></a></li>
				<li><a ng-Click="uploadPage()" ng-hide="isDoctorLoggedIn">Add new record <i class="fa fa-upload" aria-hidden="true"></i></a></li>
				<li><a ng-Click="userPage()">View records <i class="fa fa-file" aria-hidden="true"></i></a></li>
				<li><a ng-Click="logout()" ng-hide="isDoctorLoggedIn">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
			</ul>
		</nav>

                </div>
                <div class="col-lg-9">
                    <ng-include src="dashboardView"></ng-include>
                </div>
            </div>
        </div>
    </section>


