
<div>
<h1>Measure your ECG</h1>
<h2>How to use our device to measure your ECG?</h2>
<hr>
<h3>Step 1:</h3>
<p>Lorem ipsum dolor sit amet, alii adipiscing quo te. Minimum torquatos pri ad, unum antiopam iudicabit sit et. Eu salutatus eloquentiam voluptatibus mei. Has ne maluisset constituam, est vidit partem ea, dolor animal an nec. Id aliquid constituam concludaturque usu, utamur mentitum ne his.
</p>
<hr>
<h3>Step 2:</h3>
<p>Lorem ipsum dolor sit amet, alii adipiscing quo te. Minimum torquatos pri ad, unum antiopam iudicabit sit et. Eu salutatus eloquentiam voluptatibus mei. Has ne maluisset constituam, est vidit partem ea, dolor animal an nec. Id aliquid constituam concludaturque usu, utamur mentitum ne his.
</p>
<hr>
<h3>Step 3:</h3>
<p>Lorem ipsum dolor sit amet, alii adipiscing quo te. Minimum torquatos pri ad, unum antiopam iudicabit sit et. Eu salutatus eloquentiam voluptatibus mei. Has ne maluisset constituam, est vidit partem ea, dolor animal an nec. Id aliquid constituam concludaturque usu, utamur mentitum ne his.
</p>
<hr>
<h3>Step 4:</h3>
<p>Lorem ipsum dolor sit amet, alii adipiscing quo te. Minimum torquatos pri ad, unum antiopam iudicabit sit et. Eu salutatus eloquentiam voluptatibus mei. Has ne maluisset constituam, est vidit partem ea, dolor animal an nec. Id aliquid constituam concludaturque usu, utamur mentitum ne his.
</p>
    </div>


