    <!-- Home Section -->
    <section id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hello Folks!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
				<div class="col-lg-4 col-lg-offset-2">
                    <p>At FinBel, we provide an easy-to-use, yet state of the art ECG recording device that can be used anytime and anywhere! See here a prototype of the device</p>
                    <p>Also read more about our project by clicking "More about us" below.</p>
                </div>
                <div class="col-lg-4">
                    <img class="prototype" src="images/FinBel_design3.jpg" alt="device">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a ng-Click="aboutPage()" class="btn btn-success btn-lg btn-outline">
                        <i class="fa fa-question-circle"></i> More about us
                    </a>
                </div>

            </div>
        </div>
    </section>




	





