
<div class="login-form">    
  <div class="row">
    <!-- FORM -->
    <div class="col-md-4 col-md-offset-4">     

    <!-- Prevent from auto validate the form  -->
      <form id="loginForm" name="loginForm" novalidate>

        <fieldset>
          <legend>Login form <br>
            <small>Don't have an account yet? Register <a href="#/register" "email me">here</a></small>
          </legend>

          <div class="form-group">
            <label for="username">Username *</label>
            <input type="text" class="form-control" id="username" ng-model="userProfile.username" placeholder="Username" required>
          </div>

          <div class="form-group">
            <label for="password">Password *</label>
            <input type="password" class="form-control" id="password" ng-model="userProfile.password" placeholder="Password" required>
          </div>

         

          <button id="loginFormSubmit" class="btn btn-default" ng-click="submit()">Submit</button>

        </fieldset>
      </form>
      <pre class="result">{{ feedback }}</pre>
    </div>
  </div>
</div>
