<div>
    <h2>Menu</h2>
<button ng-click="test()">test json</button>
    <select>
        <option value="Date:">Day 1</option>
        <option value="Date:">Day 2</option>
        <option value="Date:">Day 3</option>
        <option value="Date:">Day 4</option>
    </select>
    <h2>Personal Info</h2>
    <p class="infoText">Name: Chingiz</p>
    <p class="infoText">Age: 28</p>
    <p class="infoText">Email: chinjka_m@hotmail.com</p>
</div>
<div>
    <div id="chart1_div"></div>
    <div id="chart2_div"></div>
</div>